<?xml version="1.0"?>
<robot name="wall" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="width" value="0.150" />
  <xacro:property name="length" value="3" />
  <xacro:property name="height" value="2.1" />


 <xacro:macro name="box_inertial" params="x y z mass">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="${0.0833333 * mass * (y*y + z*z)}" ixy="0.0" ixz="0.0"
        iyy="${0.0833333 * mass * (x*x + z*z)}" iyz="0.0"
        izz="${0.0833333 * mass * (x*x + y*y)}" />
    </inertial>
  </xacro:macro>

  <link name="wall_1_link">
    
      <visual>
        <geometry>
          <box size="${width} ${length} ${height}"/>
        </geometry>
        <material name="ocher">
          <color rgba="0.949 0.890 0.722 1"/>
        </material>
      </visual>

      <collision>
        <geometry>
          <box size="${width} ${length} ${height}"/>
        </geometry>
      </collision>

  <xacro:box_inertial mass="1000" x="1" y="1" z="1"/>

    </link>

    <gazebo reference="wall_1_link">
      <material>Gazebo/White</material>
    </gazebo>
 
  <!-- Wall fixed to the world-->
    <link name="world"/>
    
    <joint name="base_link_fixed" type="fixed">
      <parent link="world"/>
      <child link="wall_1_link"/>
    </joint>

</robot>

