<launch>
      <arg name="user_debug" default="false"/>

      <rosparam file="$(find qm_gazebo)/config/default.yaml" command="load"/>

      <!-- Load descriptions -->
      <param name="qm_description" command="$(find xacro)/xacro --inorder '$(find qm_description)/urdf/quadruped_manipulator/robot.xacro'
                  DEBUG:=$(arg user_debug)"/>
      <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find qm_description)/urdf/quadruped_manipulator/robot.xacro'
                  DEBUG:=$(arg user_debug)"/>
      <param name="legged_robot_description" command="$(find xacro)/xacro --inorder '$(find qm_description)/urdf/quadruped_manipulator/robot.xacro'
                  DEBUG:=$(arg user_debug)"/>

      <param name="terrain_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/terrain.xacro"/>

      <param name="rod1_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/rod.xacro"/>
      <param name="rod2_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/rod.xacro"/>
      <param name="rod3_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/rod.xacro"/>
      <param name="rod4_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/rod.xacro"/>
      <param name="rod5_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/rod.xacro"/>
      <param name="rod6_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/rod.xacro"/>
      <param name="rod7_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/rod.xacro"/>
      <param name="rod8_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/rod.xacro"/>

      <param name="plate1_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/plate.xacro"/>
      <param name="plate2_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/plate.xacro"/>
      <param name="plate3_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/plate.xacro"/>
      <param name="plate4_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/plate.xacro"/>
      <param name="plate5_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/plate.xacro"/>
      <param name="plate6_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/plate.xacro"/>
      <param name="plate7_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/plate.xacro"/>
      <param name="plate8_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/plate.xacro"/>

      <param name="sphere1_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball15.xacro"/>
      <param name="sphere2_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball15.xacro"/>
      <param name="sphere3_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball15.xacro"/>
      <param name="sphere4_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball15.xacro"/>
      <param name="sphere5_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball15.xacro"/>
      <param name="sphere6_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball15.xacro"/>
      <param name="sphere7_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball15.xacro"/>
      <param name="sphere8_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball15.xacro"/>

      <param name="sphere9_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball10.xacro"/>
      <param name="sphere10_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball10.xacro"/>
      <param name="sphere11_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball10.xacro"/>
      <param name="sphere12_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball10.xacro"/>
      <param name="sphere13_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball10.xacro"/>
      <param name="sphere14_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball10.xacro"/>
      <param name="sphere15_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball10.xacro"/>
      <param name="sphere16_description" command="$(find xacro)/xacro $(find qm_description)/urdf/sar/ball10.xacro"/> 

    <!-- Include empty Gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find qm_gazebo)/worlds/custom_world.world"/>
        <arg name="paused" value="true"/>
        <arg name="gui" value="true"/>
    </include>

      <!-- Start RViz -->
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find qm_controllers)/config/sar.rviz"/>

      <!-- Spawn robot in Gazebo -->
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
            output="screen"
            args="-param qm_description -urdf -model qm
            -x -2
            -z 0.5
            "
      />

      <!-- Spawn terrain in Gazebo -->
      <node name="spawn_terrain" pkg="gazebo_ros" type="spawn_model" clear_params="true"
            output="screen"
            args="-param terrain_description -urdf -model terrain
            -x 1 -y 0 -z 0.002 -R 1.570796 -P 0 -Y 1.570796"
      />
      <!-- Publish static transforms for the terrain -->
      <node pkg="tf2_ros" type="static_transform_publisher" name="terrain_tf_publisher"
            args="1 0 0 -1.570796 0 1.570796 world terrain_link"
      />
      
      <!-- Spawn rods in Gazebo -->
      <node name="spawn_rod1" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param rod1_description -urdf -model rod1 -x 1 -y -0.8 -z 1.6 -R -1.570796 -P 0.1 -Y 1.370796" />
      <node name="rod1_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="rod1_description" />
            <remap from="/joint_states" to="/rod1/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_rod2" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param rod2_description -urdf -model rod2 -x 1.5 -y -0.8 -z 1.4 -R -1.570796 -P 0.1 -Y 1.370796" />
      <node name="rod2_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="rod2_description" />
            <remap from="/joint_states" to="/rod2/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_rod3" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param rod3_description -urdf -model rod3 -x 1.5 -y -0.5 -z 1.4 -R 0.570796 -P 0.3 -Y 1.470796" />
      <node name="rod3_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="rod3_description" />
            <remap from="/joint_states" to="/rod3/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_rod4" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param rod4_description -urdf -model rod4 -x 0.5 -y -0.8 -z 1.55 -R 1.70796 -P 0.2 -Y 0.170796" />
      <node name="rod4_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="rod4_description" />
            <remap from="/joint_states" to="/rod4/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_rod5" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param rod5_description -urdf -model rod5 -x 0.5 -y -0.5 -z 1.4 -R 0.370796 -P 0.12 -Y 0.570796" />
      <node name="rod5_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="rod5_description" />
            <remap from="/joint_states" to="/rod5/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_rod6" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param rod6_description -urdf -model rod6 -x 0.5 -y -0.8 -z 1.4 -R -1.270796 -P 0.3 -Y 0.8170796" />
      <node name="rod6_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="rod6_description" />
            <remap from="/joint_states" to="/rod6/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_rod7" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param rod7_description -urdf -model rod7 -x 0 -y -0.5 -z 1.4 -R 0.796 -P -0.3213 -Y 1.370796" />
      <node name="rod7_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="rod7_description" />
            <remap from="/joint_states" to="/rod7/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_rod8" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param rod8_description -urdf -model rod8 -x 0 -y -0.2 -z 1.4 -R 1.2570796 -P 0.234 -Y -0.570796" />
      <node name="rod8_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="rod8_description" />
            <remap from="/joint_states" to="/rod8/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      
      <!-- Spawn plates in Gazebo -->
      <node name="spawn_plate1" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param plate1_description -urdf -model plate1 -x 0.5 -y 0.5 -z 1 -R -1.570796 -P -0.12 -Y 0" />
      <node name="plate1_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="plate1_description" />
            <remap from="/joint_states" to="/plate1/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_plate2" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param plate2_description -urdf -model plate2 -x 0.8 -y 0 -z 0.55 -R -1.570796 -P -0.12 -Y 0.6" />
      <node name="plate2_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="plate2_description" />
            <remap from="/joint_states" to="/plate2/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_plate3" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param plate3_description -urdf -model plate3 -x 1.2 -y 0.5 -z 0.7 -R -1.570796 -P -0.12 -Y 1.2" />
      <node name="plate3_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="plate3_description" />
            <remap from="/joint_states" to="/plate3/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_plate4" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param plate4_description -urdf -model plate4 -x 1.4 -y 0 -z 0.4 -R -1.570796 -P -0.12 -Y -0.7" />
      <node name="plate4_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="plate4_description" />
            <remap from="/joint_states" to="/plate4/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_plate5" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param plate5_description -urdf -model plate5 -x 1.8 -y 0.5 -z 0.4 -R -1.570796 -P -0.12 -Y 0.3" />
      <node name="plate5_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="plate5_description" />
            <remap from="/joint_states" to="/plate5/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_plate6" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param plate6_description -urdf -model plate6 -x 0 -y 0 -z 0.7 -R -1.570796 -P -0.12 -Y 1.6" />
      <node name="plate6_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="plate6_description" />
            <remap from="/joint_states" to="/plate6/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_plate7" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param plate7_description -urdf -model plate7 -x 0.3 -y 0.5 -z 0.5 -R -1.570796 -P -0.12 -Y 1.2" />
      <node name="plate7_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="plate7_description" />
            <remap from="/joint_states" to="/plate7/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_plate8" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param plate8_description -urdf -model plate8 -x 1.6 -y 0 -z 0.7 -R -1.570796 -P -0.12 -Y 0.7" />
      <node name="plate8_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="plate8_description" />
            <remap from="/joint_states" to="/plate8/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>

      <!-- Spawn rocks in Gazebo -->
      <node name="spawn_sphere1" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere1_description -urdf -model sphere1 -x 0.5 -y 0.25 -z 0.3 -R -1.570796 -P -0.12 -Y 0" />
      <node name="sphere1_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere1_description" />
            <remap from="/joint_states" to="/sphere1/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere2" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere2_description -urdf -model sphere2 -x 0.8 -y -0.25 -z 0.3 -R -1.570796 -P -0.12 -Y 0.6" />
      <node name="sphere2_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere2_description" />
            <remap from="/joint_states" to="/sphere2/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere3" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere3_description -urdf -model sphere3 -x 1.2 -y 0.25 -z 0.3 -R -1.570796 -P -0.12 -Y 1.2" />
      <node name="sphere3_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere3_description" />
            <remap from="/joint_states" to="/sphere3/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere4" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere4_description -urdf -model sphere4 -x 1.4 -y -0.25 -z 0.3 -R -1.570796 -P -0.12 -Y -0.7" />
      <node name="sphere4_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere4_description" />
            <remap from="/joint_states" to="/sphere4/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere5" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere5_description -urdf -model sphere5 -x 1.8 -y 0.25 -z 0.3 -R -1.570796 -P -0.12 -Y 0.3" />
      <node name="sphere5_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere5_description" />
            <remap from="/joint_states" to="/sphere5/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere6" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere6_description -urdf -model sphere6 -x 0 -y -0.25 -z 0.3 -R -1.570796 -P -0.12 -Y 1.6" />
      <node name="sphere6_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere6_description" />
            <remap from="/joint_states" to="/sphere6/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere7" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere7_description -urdf -model sphere7 -x 0.3 -y 0.25 -z 0.3 -R -1.570796 -P -0.12 -Y 1.2" />
      <node name="sphere7_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere7_description" />
            <remap from="/joint_states" to="/sphere7/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere8" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere8_description -urdf -model sphere8 -x 1.6 -y -0.25 -z 0.3 -R -1.570796 -P -0.12 -Y 0.7" />
      <node name="sphere8_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere8_description" />
            <remap from="/joint_states" to="/sphere8/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>

      <node name="spawn_sphere9" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere9_description -urdf -model sphere9 -x 0.5 -y 0.25 -z 1.8 -R -1.570796 -P -0.12 -Y 0" />
      <node name="sphere9_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere9_description" />
            <remap from="/joint_states" to="/sphere9/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere10" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere10_description -urdf -model sphere10 -x 1.2 -y 0.25 -z 1.8 -R -1.570796 -P -0.12 -Y 1.2" />
      <node name="sphere10_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere10_description" />
            <remap from="/joint_states" to="/sphere10/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere11" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere11_description -urdf -model sphere11 -x 1.4 -y -0.25 -z 1.8 -R -1.570796 -P -0.12 -Y -0.7" />
      <node name="sphere11_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere11_description" />
            <remap from="/joint_states" to="/sphere11/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere12" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere12_description -urdf -model sphere12 -x 1.8 -y 0.25 -z 1.8 -R -1.570796 -P -0.12 -Y 0.3" />
      <node name="sphere12_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere12_description" />
            <remap from="/joint_states" to="/sphere12/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere13" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere13_description -urdf -model sphere13 -x 0 -y -0.25 -z 1.8 -R -1.570796 -P -0.12 -Y 1.6" />
      <node name="sphere13_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere13_description" />
            <remap from="/joint_states" to="/sphere13/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere14" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere14_description -urdf -model sphere14 -x 0.3 -y 0.25 -z 1.8 -R -1.570796 -P -0.12 -Y 1.2" />
      <node name="sphere14_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere14_description" />
            <remap from="/joint_states" to="/sphere14/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere15" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere15_description -urdf -model sphere15 -x 0.8 -y 0.25 -z 1.8 -R -1.570796 -P -0.12 -Y 0" />
      <node name="sphere15_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere15_description" />
            <remap from="/joint_states" to="/sphere15/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>
      <node name="spawn_sphere16" pkg="gazebo_ros" type="spawn_model" clear_params="true" output="screen" 
            args="-param sphere16_description -urdf -model sphere16 -x 1.6 -y -0.25 -z 1.8 -R -1.570796 -P -0.12 -Y 0.7" />
      <node name="sphere16_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="robot_description" to="sphere16_description" />
            <remap from="/joint_states" to="/sphere16/joint_states" />
            <param name="publish_frequency" value="50.0"/>
      </node>

      <rosparam file="$(find qm_gazebo)/config/position_control.yaml" command="load"/>
      <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
            output="screen"
            args="
                  Joint01_controller Joint02_controller Joint03_controller
                  Joint04_controller Joint05_controller Joint06_controller
                  joint_state_controller
      "/>

      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"
            respawn="false" output="screen">
      </node>

</launch>