<?xml version="1.0"?>
<robot>
      <!-- ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libqm_hw_sim.so">
            <robotNamespace>/</robotNamespace>
            <robotParam>qm_description</robotParam>
            <robotSimType>qm_gazebo/QMHWSim</robotSimType>
        </plugin>
    </gazebo>

    <!-- Show the trajectory of trunk center. -->
    <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>10</frequency>
            <plot>
                <link>base</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Yellow</material>
            </plot>
        </plugin>
    </gazebo>

    <!-- Show the trajectory of foot. You can add another trajectory about another foot. -->
    <!-- <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>100</frequency>
            <plot>
                <link>FL_foot</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Green</material>
            </plot>
        </plugin>
    </gazebo> -->

    <gazebo>
        <plugin filename="libgazebo_ros_force.so" name="gazebo_ros_force">
            <bodyName>base</bodyName>
            <topicName>/apply_force/trunk</topicName>
        </plugin>
    </gazebo>

    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>1000</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>trunk_imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>1000.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <!-- Foot contacts. -->
    <gazebo reference="RF_calf">
        <sensor name="RF_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>FR_calf_fixed_joint_lump__FR_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="LF_calf">
        <sensor name="LF_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>FL_calf_fixed_joint_lump__FL_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="RH_calf">
        <sensor name="RH_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>RR_calf_fixed_joint_lump__RR_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="LH_calf">
        <sensor name="LH_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>RL_calf_fixed_joint_lump__RL_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>

    <!-- Visualization of Foot contacts. -->
    <gazebo reference="RF_foot">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>FR_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="LF_foot">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>FL_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="RH_foot">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>RR_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="LH_foot">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>RL_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>

    <gazebo reference="base">
        <material>Gazebo/Black</material>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="trunk">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <gazebo reference="stick_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="imu_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Red</material>
    </gazebo>

    <!-- LF leg -->
    <gazebo reference="LF_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="LF_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="LF_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="LF_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
        <material>Gazebo/Black</material>
    </gazebo>

    <!-- RF leg -->
    <gazebo reference="RF_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="RF_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="RF_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="RF_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
        <material>Gazebo/Black</material>
    </gazebo>

    <!-- LH leg -->
    <gazebo reference="LH_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="LH_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="LH_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="LH_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
        <material>Gazebo/Black</material>
    </gazebo>

    <!-- RH leg -->
    <gazebo reference="RH_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="RH_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="RH_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="RH_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/Black</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>


 <!-- ros_control plugin -->

     <gazebo reference="link00">
        <material>Gazebo/Grey</material>
    </gazebo>

     <gazebo reference="link01">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="link02">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="link03">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="link04">
        <material>Gazebo/Grey</material>
        <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="link05">
        <material>Gazebo/Grey</material>
        <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="link06">
        <material>Gazebo/Grey</material>
        <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="gripperStator">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="gripperMover">
        <material>Gazebo/Black</material>
    </gazebo>

</robot>
