<?xml version="1.0"?>
<robot name="sphere10" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="sphere10_link">
    <visual>
      <geometry>
        <mesh filename="package://qm_description/meshes/sar/Sphere10.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
          <color rgba="0.435 0.4 0.329 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://qm_description/meshes/sar/Sphere10.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="3.77"/>
      <inertia ixx="0.01508" ixy="0.0" ixz="0.0" iyy="0.01508" iyz="0.0" izz="0.01508"/>
    </inertial>
  </link>

  <gazebo reference="sphere10_link">
    <material>Gazebo/Grey</material>
  </gazebo>

</robot>