<?xml version="1.0"?>
<robot name="sphere15" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="sphere15_link">
    <visual>
      <geometry>
        <mesh filename="package://qm_description/meshes/sar/Sphere15.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
          <color rgba="0.435 0.4 0.329 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://qm_description/meshes/sar/Sphere15.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="12.7"/>
      <inertia ixx="0.1143" ixy="0.0" ixz="0.0" iyy="0.1143" iyz="0.0" izz="0.1143"/>
    </inertial>
  </link>

  <gazebo reference="sphere15_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  
</robot>