<launch>

    <arg name="user_debug" default="false"/>

    <rosparam file="$(find qm_gazebo)/config/position_control.yaml" command="load"/>

    <!-- Load descriptions -->
    <param name="qm_description" command="$(find xacro)/xacro --inorder '$(find qm_description)/urdf/quadruped_manipulator/robot.xacro'
                DEBUG:=$(arg user_debug)"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find qm_description)/urdf/quadruped_manipulator/robot.xacro'
                DEBUG:=$(arg user_debug)"/>
    <param name="legged_robot_description" command="$(find xacro)/xacro --inorder '$(find qm_description)/urdf/quadruped_manipulator/robot.xacro'
                DEBUG:=$(arg user_debug)"/>
                
    <!-- Include empty Gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="true"/>
        <arg name="gui" value="true"/>
    </include>

    <!-- Spawn robot in Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false"
          output="screen"
          args="-param qm_description -urdf -model qm
                -z 0.55
                -x -2
                "
    />

</launch>
