<launch>
      <arg name="user_debug" default="false"/>

      <rosparam file="$(find qm_gazebo)/config/default.yaml" command="load"/>

      <!-- Load descriptions -->
      <param name="qm_description" command="$(find xacro)/xacro --inorder '$(find qm_description)/urdf/quadruped_manipulator/robot.xacro'
                  DEBUG:=$(arg user_debug)"/>
      <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find qm_description)/urdf/quadruped_manipulator/robot.xacro'
                  DEBUG:=$(arg user_debug)"/>
      <param name="legged_robot_description" command="$(find xacro)/xacro --inorder '$(find qm_description)/urdf/quadruped_manipulator/robot.xacro'
                  DEBUG:=$(arg user_debug)"/>
      <param name="stairs_description" command="$(find xacro)/xacro $(find qm_description)/urdf/stairs/stairs.xacro"/>

      <!-- Include empty Gazebo world -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="paused" value="true"/>
            <arg name="gui" value="true"/>
      </include>

      <!-- Spawn robot in Gazebo -->
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
            output="screen"
            args="-param qm_description -urdf -model qm
            -x -2
            -z 0.51
            "
      />

      <!-- Spawn stairs in Gazebo -->
      <node name="spawn_stairs" pkg="gazebo_ros" type="spawn_model" clear_params="true"
            output="screen"
            args="-param stairs_description -urdf -model stairs"
      />

      <!-- Publish static transforms for the stairs -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
                  output="screen">
            <remap from="robot_description" to="stairs_description" />
            <param name="publish_frequency" value="50.0"/>
      </node>

      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"
            output="screen">
            <remap from="robot_description" to="stairs_description" />
            <param name="use_gui" value="true"/>
      </node>


</launch>