<?xml version="1.0"?>
<robot>
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/z1_gazebo</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <gazebo reference="z1_link_4">
        <self_collide>true</self_collide>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="z1_link_5">
        <self_collide>true</self_collide>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="z1_link_6">
        <self_collide>true</self_collide>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
</robot>
