<?xml version="1.0"?>
<robot name="tunnel3" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="tunnel3_link">
    <visual>
      <geometry>
        <mesh filename="package://qm_description/meshes/tunnel/Tunnel50.stl" scale="0.0011 0.001 0.001"/>
      </geometry>
      <material name="ocher">
          <color rgba="0.949 0.890 0.722 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://qm_description/meshes/tunnel/Tunnel50.stl" scale="0.0011 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <gazebo reference="tunnel3_link">
    <material>Gazebo/Gray</material>
  </gazebo>
 
  <!-- Wall fixed to the world-->
  <link name="world"/>
  
  <joint name="base_link_fixed" type="fixed">
    <parent link="world"/>
    <child link="tunnel3_link"/>
  </joint>

</robot>

